<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的博客</title>
</head>
<style>
	html, body {
		margin: 0;
		padding: 0;
	}
	header, footer {
		padding: 30px 40px;
		background-color: #f2f2f2;
		color: #666;
	}
	header a {
		padding: 0 20px;
		color: #999;
		text-decoration: none;
	}
	header a:hover {
		color: #333;
	}
	footer {
		text-align: center;
	}
	#content {
		padding: 30px 40px;
	} 
</style>
<body>
	<header>
		<a href="{{url_for('index')}}">首页</a>
		<a href="{{url_for('list')}}">文章列表</a>
	</header>
	<div id="content">
		{% block body %} {% endblock %} 
	</div>	
	<footer>Copyright @ EasyBlog</footer>
</body>
</html>